@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  background-image:url('../images/background.png');
}

span.left {
  position: fixed;
  bottom: 0;
  left: 0;
}
span.right {
  position: fixed;
  bottom: 0;
  right: 0;
}