@import url(https://fonts.googleapis.com/css?family=Lato:300italic,700italic,300,700);

body {
  background-image:url('../images/bg.png');
}

span.left {
  float: left;
}
span.right {
  float: right;
}


.introduction span {

  font-family: "ratio-1","ratio-2",sans-serif;
    font-size: 87px;
    font-style: inherit;
    font-weight: 700;
    letter-spacing: -4px;
    opacity: 0.15;
    line-height: 110px;
}